* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: brown;
    line-height: 4.6;
    background-color: linear-gradient(to right, #e0c4e2, #720d6a);
    min-height: 300vh;
}

h1, h2 {
    color: #2c3e50;
    text-align: center;
}
p {
    text-align: center;
    line-height: 1.6;
}
header {
    padding: 20px 0;
    background-color: #2c3e50;
    box-shadow: 0 2px 10px rgba(240, 11, 11, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
       }
.header-container {
     max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    width: 100px;
    border-radius: 14px;
    border: 2px solid white;
}
 nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
 }
nav ul li a {
    color: black;
    font-size: 23px;
    font-weight: 500;
     transition: color 0.5s;
}
nav ul li a:hover {
    padding: 20px 30px;
    font-size: 16px;
    background-color: #2f6294;
    color: white;
    border-radius: 8px;
    border: 2px solid rgb(125, 129, 129);
    cursor: pointer;
    transition: background-color 0.3s;
}
.button {
    padding: 25px 35px;
    font-size: 22px;
    background-color: #2f6294;
    color: whitesmoke;
    border: 2px solid papayawhip;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}
#home {
     padding: 100px 20px;
     background-color: #2f6294;
     border-radius: 150px;
     box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.2);
     text-align: center;
}
#home iframe {
    margin-top: 50px;
    border-radius: 6px;
    height: 600px;
    width: 800px;
    border: 2px solid black;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}
audio {
    margin-top: 30px;
}
#about {
  padding: 100px 20px;
  background-color: #fff
}
#about ul {
  list-style: square;
  padding: 100px;
  text-align: justify;
}
#about li {
  margin: 12px 0;
}
#work {
  padding: 100px 20px;
  background-color: #f5f5f5;
  text-align: center;
}
#work h2 {
    margin-bottom: 40px;
    padding:1px;
    background-color: #2f6294;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
#work table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: white;
}
#work th, #work td {
  padding: 15px;
  border: 2px solid #ccc;
}
#work a {
    color: black;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s;
}
#work a:hover {
    color: #2f6294;
}
#resume {
  padding: 100px 20px;
  background-color: #fff;
  text-align: center;
}
#resume a {
    color: black;
     padding: 20px 30px;
     background-color: #2f6294;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s; 
}
#resume a:hover {
    padding: 20px 30px;
    background-color: #042c53;
    font-size: 16px;
    color: white;
    transition: color 0.3s;
}
#contact {
  padding: 100px 20px;
  background-color: #f5f5f5;
  text-align: center;
  font-size: 20px;
}
#contact button {
    padding: 40px 90px;
    background-color: #7289a0;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
#contact button:hover {
    background-color: #2f6294;
}
#contact form {
  margin-top: 60px;
}
#contact label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
#contact input, #contact textarea {
  width: 20%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#contact input[type="submit"] {
  background-color: #2f6294;
  color: white;
  border: 5px solid  rgb(233, 232, 230); 
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#contact input[type="submit"]:hover {
  background-color: #042c53;
}
footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 12px;
  margin-top: 60px;
  font-size: 0.9em;
}